<ul class="list">
  <li>
    <a href="/dashboard">
      <i class="material-icons">home</i>
      <span>Home</span>
    </a>
  </li>
  <li>
    <a href="javascript:void(0);" class="menu-toggle">
      <i class="material-icons">keyboard</i>
      <span>CRUD-Base</span>
    </a>
    <ul class="ml-menu">

      <li>
        <a href="/view_retrive_users">Users</a>
      </li>
      <li>
        <a href="/view_retrive_course">Courses</a>
      </li>
    </ul>
  </li>
</ul>