<%- contentFor('content') %>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis velit quibusdam voluptates in. Molestias adipisci sit doloremque quaerat ipsum eum excepturi, at similique dolorem laudantium officiis dolores temporibus dicta fugiat?</p>